# Pytheam - Project 1
----

## Estimate of Bike Availability 

### Summary
This notebook shows the process we followed to clean, explore and analyze the data sets that contains
information about the Trips made by Ecobici on January and February 2019.

---

In [1]:
# Import Dependencies
import pandas as pd
import math
import gc

In [2]:
#Read files from January and February 2019 of Ecobici Trips
file1_csv = "../Resources/datasets/Martha/2019-01.csv"
file2_csv = "../Resources/datasets/Martha/2019-02.csv"

In [4]:
dataBikesJanuary_df = pd.read_csv(file1_csv)
dataBikesFebruary_df = pd.read_csv(file2_csv)

C:\Users\marth\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
dataBikesJanuary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 697289 entries, 0 to 697288
Data columns (total 9 columns):
Genero_Usuario           697289 non-null object
Edad_Usuario             697289 non-null int64
Bici                     697289 non-null object
Ciclo_Estacion_Retiro    697289 non-null int64
Fecha_Retiro             697289 non-null object
Hora_Retiro              697289 non-null object
Ciclo_Estacion_Arribo    697289 non-null int64
Fecha_Arribo             697289 non-null object
Hora_Arribo              697289 non-null object
dtypes: int64(3), object(6)
memory usage: 47.9+ MB

In [6]:
dataBikesFebruary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 684077 entries, 0 to 684076
Data columns (total 9 columns):
Genero_Usuario           684077 non-null object
Edad_Usuario             684077 non-null int64
Bici                     684077 non-null object
Ciclo_Estacion_Retiro    684077 non-null int64
Fecha_Retiro             684077 non-null object
Hora_Retiro              684077 non-null object
Ciclo_Estacion_Arribo    684077 non-null int64
Fecha_Arribo             684077 non-null object
Hora_Arribo              684077 non-null object
dtypes: int64(3), object(6)
memory usage: 47.0+ MB

In [7]:
#clean dates in dataframe
# dropping null value columns to avoid errors 
dataBikesJanuary_df.dropna(inplace = True) 

# substring to be searched
sub ='2019'

# creating and passsing series to new column 
dataBikesJanuary_df['other_date'] = dataBikesJanuary_df["Fecha_Retiro"].str.find(sub)

In [8]:
dataBikesJanuary_df.drop(dataBikesJanuary_df[dataBikesJanuary_df.other_date == -1].index, inplace=True)

In [9]:
#clean memory
gc.collect()

26

In [10]:
#clean dates in dataframe
# dropping null value columns to avoid errors 
dataBikesFebruary_df.dropna(inplace = True) 

# substring to be searched
sub ='2019'

# creating and passsing series to new column 
dataBikesFebruary_df['other_date'] = dataBikesFebruary_df["Fecha_Retiro"].str.find(sub)

In [11]:
dataBikesFebruary_df.drop(dataBikesFebruary_df[dataBikesFebruary_df.other_date == -1].index, inplace=True)

In [12]:
#clean memory
gc.collect()

26

In [13]:
#bikes by month
#write id by month
bikes_df = pd.DataFrame(columns=['month','number_bikes'])
bikes_df['month'] = [dataBikesJanuary_df.iloc[0,4]]
#count the unique id bici of first month
bikes_df['number_bikes'] = dataBikesJanuary_df.Bici.nunique()
bikes_df

        month  number_bikes
0  01/01/2019         10912

In [14]:
#count id bici of second month
m = dataBikesFebruary_df.iloc[0,4]
#print(m)
nb = dataBikesFebruary_df.Bici.nunique()
# print(nb)
bikes_df.loc[1] = [m,nb]
bikes_df

        month  number_bikes
0  01/01/2019         10912
1  01/02/2019         11910

In [20]:
#Calculate mean for average total number of bikes
m = bikes_df['number_bikes'].mean()
print("Average bikes: ", m)

Average bikes:  11411.0

In [21]:
#Calculate standar deviation to know the variacion of my sample population and the population
sd = bikes_df['number_bikes'].std()
print("Standard Deviation: ", sd)

Standard Deviation:  705.6925676241744

In [22]:
#Calculate standard error to know how close the value is of the overall population
srsz = math.sqrt(len(bikes_df))
print(srsz)
se = sd/srsz
print("Standar error: ", se)

1.4142135623730951
Standar error:  499.0

In [23]:
#mean +-1 standard error/ confidence interval 
mean_minus = m - se
mean_plus = m + se
print("Conficence interval: ", mean_minus," - ", mean_plus)

Conficence interval:  10912.0  -  11910.0

In [ ]:
#bikes_df.to_csv("../Resources/totalBikes.csv", index=False, encoding='utf8')